<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/about.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <title>About Us</title>
</head>
<body>
    <div id="nav">
        <div class="nav-left">
            <img src="/static/img/logo without bg.png" alt="INDIA">
            <a href="{% url 'main-home' %}"><h4>Home</h4></a>
            <a href=""><h4>Explore</h4></a>
            <a href=""><h4>Tours</h4></a>
            <a href=""><h4>Travels</h4></a>
            <a href=""><h4>Contact</h4></a>
            
        </div>
        <div class="nav-right">
            <a href="{% url 'main-about' %}"><h4>Login</h4></a>
            <a href="#"><h4>Register</h4></a>
        </div>
        <i class="ri-menu-line"></i>
    </div>

    <!-- Main Cards -->

    <main>  
        <div class="card">
            <div class="imgBx">
                <img src="/static/img/neel.jpg">
            </div>  
            <div class="content">
                <div class="details">
                    <h2>Neel Satdive<br><span>Senior Frontend Developer</span></h2>
                
                
                    <div class="data">
                        <h3>101<br><span>Posts</span></h3>
                        <h3>297k<br><span>Followers</span></h3>
                        <h3>290<br><span>Following</span></h3>
                    </div>
                    <div class="actionBtn">
                        <button>Follow</button>
                        <button>Message</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="/static/img/aniket.jpg">
            </div>
            <div class="content">
                <div class="details">
                    <h2>Aniket Kardile<br><span>Backend(Django) Developer</span></h2>
                
                
                    <div class="data">
                        <h3>121<br><span>Posts</span></h3>
                        <h3>112k<br><span>Followers</span></h3>
                        <h3>285<br><span>Following</span></h3>
                    </div>
                    <div class="actionBtn">
                        <button>Follow</button>
                        <button>Message</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="/static/img/palak.jpg">
            </div>
            <div class="content">
                <div class="details">
                    <h2>Palak Agrawal<br><span>Junior Frontend Developer</span></h2>
                
                
                    <div class="data">
                        <h3>342<br><span>Posts</span></h3>
                        <h3>265k<br><span>Followers</span></h3>
                        <h3>315<br><span>Following</span></h3>
                    </div>
                    <div class="actionBtn">
                        <button>Follow</button>
                        <button>Message</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="/static/img/divya.jpg">
            </div>
            <div class="content">
                <div class="details">
                    <h2>Divya Pardeshi<br><span>Junior Frontend Developer</span></h2>
                
                
                    <div class="data">
                        <h3>342<br><span>Posts</span></h3>
                        <h3>401k<br><span>Followers</span></h3>
                        <h3>415<br><span>Following</span></h3>
                    </div>
                    <div class="actionBtn">
                        <button>Follow</button>
                        <button>Message</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="/static/img/purva.jpg">
            </div>
            <div class="content">
                <div class="details">
                    <h2>Purva Vajire<br><span>Designer</span></h2>
                
                
                    <div class="data">
                        <h3>342<br><span>Posts</span></h3>
                        <h3>256k<br><span>Followers</span></h3>
                        <h3>345<br><span>Following</span></h3>
                    </div>
                    <div class="actionBtn">
                        <button>Follow</button>
                        <button>Message</button>
                    </div>
                </div>
            </div>
        </div>
    </main>    
</body>
</html>